# Access database from Pandas using mysql-connector and SQLalchemy

* (if you haven't donce so: ) install jupyter and learn how to use jupyter
* install mysql learn how to user mysql
    * install mysql
    * start mysql server
    * create root account (and other account if necessary)
    * create a database
    * create tables inside database
* install python SQL access modules
    * to access mysql: pip install mysql-connector
    * other module: pip install sqlalchemy
    * other module: pip install pyodbc
    * there are many other such modules
    
## Read database tables directly into Pandas dataFrame

### Using mysql-connector

In [7]:
# connect to mySQL and use a specific database directly
# Read the data directly into a pandas dataFrame
import pandas as pd
import mysql.connector

# get a db connection first
mydb = mysql.connector.connect(host="localhost", user="root", passwd="1234", database="sakila" )

#mycursor = mydb.cursor()
#df = psql.read_sql("select * from student", con=mydb)
df = pd.read_sql_query("select * from actor limit 5", con=mydb)

# Then you can consume your data in a for loop
print(df)
mydb.close()

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

### Using SQLalchemy

In [12]:
# Work with to mySQL DB using sqlalchemy and pandas
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine("mysql+mysqlconnector://root:1234@localhost/sakila")
df2 = pd.read_sql_query("select * from actor limit 5", sql_engine)
print(df2)

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

In [15]:
# Creating a DataFrame
# To write a dataframe to DB, it's easier to use sqlalchemy
import numpy as np
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine("mysql+mysqlconnector://root:1234@localhost/test")
# first create an pandas index
dates = pd.date_range('20130101', periods=6)
print(dates)

# create a data frame by supplying:
# 1. the data 
# 2. an index 
# 3. a list of column labels
df3 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df3)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  0.618867  0.706270 -0.696166  3.287966
2013-01-02  0.083830  1.448462  0.619378 -0.882219
2013-01-03  0.932035 -0.067856 -0.080522  0.182376
2013-01-04  0.427259  0.415287  0.038177  0.437195
2013-01-05 -1.318066  0.413081  1.281692 -0.094605
2013-01-06  0.046155 -1.349767  0.367577  1.406442

In [16]:
df3.to_sql('newdata', sql_engine)

In [1]:
# Read a real student file
import pandas as pd
import sqlalchemy as sql

sql_engine = sql.create_engine("mysql+mysqlconnector://root:1234@localhost/test")

# read csv into dataFrame. Be careful to handle the column names and index correctly.
df5 = pd.read_csv('DBStudents.csv', index_col=0, encoding='utf-8')
df5.columns = ['身份', '系級', '年級', '學號', '姓名', '英文姓名', '聯絡電話', '電子郵件', '組別']
print(df5.columns)

# write csv data to db
df5.to_sql('students1', sql_engine, if_exists='replace')

Index(['身份', '系級', '年級', '學號', '姓名', '英文姓名', '聯絡電話', '電子郵件', '組別'], dtype='object')

In [ ]:
# verify the result of writing to db
result = sql_engine.execute("select * from students1")
for i in result:
  print(i)